name: Security Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit SAST Scan
      run: |
        bandit -r . -f html -o bandit-report.html

    - name: Download OWASP Dependency-Check
      run: |
        wget https://github.com/jeremylong/DependencyCheck/releases/download/v12.1.0/dependency-check-12.1.0-release.zip
        unzip dependency-check-12.1.0-release.zip
        chmod +x dependency-check/bin/dependency-check.sh

    - name: Run Dependency-Check SCA Scan
      run: |
        ./dependency-check/bin/dependency-check.sh \
          --scan . \
          --format ALL \
          --out dependency-check-report \
          --project "python-getting-started" \
          --nvdApiKey ${{ secrets.NVD_API_KEY }}

    - name: Upload Bandit Report
      uses: actions/upload-artifact@v3
      with:
        name: bandit-report
        path: bandit-report.html

    - name: Upload Dependency-Check Report
      uses: actions/upload-artifact@v3
      with:
        name: dependency-check-report
        path: dependency-check-report/
